{% extends 'base.html.twig' %}

{% block title %}
  Profile
{% endblock %}

{% block body %}
  <!-- Vendor CSS Files -->
  {# <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" /> #}
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
  <link href="/assets/vendor/quill/quill.snow.css" rel="stylesheet" />
  <link href="/assets/vendor/quill/quill.bubble.css" rel="stylesheet" />
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />
  <link href="/assets/vendor/simple-datatables/style.css" rel="stylesheet" />

  {# <link rel="stylesheet" href="/mdb/css/mdb.min.css"> #}
  <link rel="stylesheet" href="/assets/css/style.css" />
  <div class="container">
    <main id="" class="main">
      <div class="pagetitle">
        <h1>Profile</h1>
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-style1">
            <li class="breadcrumb-item">
              <a href="{{ path('app_main') }}" class="text-primary">Accueil</a>
            </li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section profile">
        <div class="row">
          <div class="col-xl-4">
            <div class="card">
              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                <img src="{{ asset('user/img/') }}{{ app.user.image }}" alt="{{ app.user.fname }} {{ app.user.lname }}" class="rounded-circle" style="height: 100px; width: 100px;" />
                <h2>{{ app.user.fname }} {{ app.user.lname }}</h2>
                <div class="social-links mt-2">
                  <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                  <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                  <a href="#" class="linkedin"><i class="fab fa-tiktok"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-8">
            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">
                  <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Infos</button>
                  </li>

                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Settings</button>
                  </li>
                </ul>
                <div class="tab-content pt-2">
                  <div class="tab-pane fade show active profile-overview" id="profile-overview">
                    <h5 class="card-title">Details du Profil</h5>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Nom Complet</div>
                      <div class="col-lg-9 col-md-8">{{ app.user.fname }} {{ app.user.lname }}</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Pseudo</div>
                      <div class="col-lg-9 col-md-8">{{ app.user.pseudo }}</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Code Promo</div>
                      <div class="col-lg-9 col-md-8">{{ app.user.codePro }}</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Code de Parainage</div>
                      <div class="col-lg-9 col-md-8">{{ app.user.codeProP }}</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Telephone</div>
                      <div class="col-lg-9 col-md-8">{{ app.user.number }}</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Email</div>
                      <div class="col-lg-9 col-md-8">{{ app.user.email }}</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Type</div>
                      <div class="col-lg-9 col-md-8">
                        {% if app.user.premium is not empty %}
                          <span class="badge bg-label-{{ app.user.premium.expiredAt >= date ? 'warning' : 'success' }}">{{ app.user.premium.expiredAt >= date ? 'Premium' : 'Standard' }}</span>
                        {% else %}
                          <span class="badge bg-label-success">Standard</span>
                        {% endif %}
                      </div>
                    </div>
                  </div>

                  <div class="tab-pane fade pt-3" id="profile-settings">
                    <!-- Settings Form -->
                    <form>
                      <div class="row mb-3">
                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
                        <div class="col-md-8 col-lg-9">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="changesMade" checked />
                            <label class="form-check-label" for="changesMade">Changes made to your account</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="newProducts" checked />
                            <label class="form-check-label" for="newProducts">Information on new products and services</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="proOffers" />
                            <label class="form-check-label" for="proOffers">Marketing and promo offers</label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="securityNotify" checked disabled />
                            <label class="form-check-label" for="securityNotify">Security alerts</label>
                          </div>
                        </div>
                      </div>

                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                      </div>
                    </form>
                    <!-- End settings Form -->
                  </div>
                </div>
                <!-- End Bordered Tabs -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->
  </div>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  {# <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> #}
  <script src="/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/vendor/quill/quill.js"></script>
  <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
{% endblock %}
