{% extends 'base.html.twig' %}

{% block title %}
  Settings | Profile
{% endblock %}

{% block body %}
  <div class="container">
    <div class="py-5 mt-5">
      <div class="nav-align-top">
        <ul class="nav nav-pills mb-4" role="tablist">
          <li class="nav-item">
            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-account" aria-controls="navs-pills-top-account" aria-selected="true"><i class="bx bx-user me-1"></i> Infos</button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-notifications" aria-controls="navs-pills-top-notifications" aria-selected="false"><i class="bx bx-bell me-1"></i> Notifications</button>
          </li>
          <li class="nav-item">
            <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-pills-top-connections" aria-controls="navs-pills-top-connections" aria-selected="false"><i class="bx bx-link-alt me-1"></i> Connections</button>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="navs-pills-top-account" role="tabpanel">
          {{ form_start(form) }}

          <div class="card mb-4">
              <h5 class="card-header">Details de Profil</h5>
              <!-- Account -->
              <div class="card-body">
                <div class="d-flex align-items-start align-items-sm-center gap-4">
                  <img src="{{asset("user/img/" ~ app.user.image)}}" alt="{{app.user.image}}" class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
                  <div class="button-wrapper">
                    <label for="profile_image" class="btn btn-primary me-2 mb-4" tabindex="0">
                      <span class="d-none d-sm-block">Nouvelle Photo</span>
                      <i class="bx bx-upload d-block d-sm-none"></i>
                      {{ form_row(form.image) }}
                    </label>
                    <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                      <i class="bx bx-reset d-block d-sm-none"></i>
                      <span class="d-none d-sm-block">Reinitialiser</span>
                    </button>

                    <p class="text-muted mb-0">Seuls les fichiers JPG, GIF or PNG sont autorises.</p>
                  </div>
                </div>
              </div>
              <hr class="my-0" />
              <div class="card-body">
                  <div class="row">
                    <div class="mb-3 col-md-6">
                      {{ form_row(form.fname) }}
                    </div>
                    <div class="mb-3 col-md-6">
                        {{ form_row(form.lname) }}
                    </div>
                    <div class="mb-3 col-md-6">
                        {{ form_row(form.email) }}
                    </div>
                    <div class="mb-3 col-md-6">
                        {{ form_row(form.pseudo) }}
                    </div>
                    <div class="mb-3 col-md-6">
                      {{ form_row(form.number) }}
                    </div>
                    <div class="mb-3 col-md-6">
                      {{ form_row(form.facebook) }}
                    </div>
                    <div class="mb-3 col-md-6">
                        {{ form_row(form.tiktok) }}
                    </div>
                    <div class="mb-3 col-md-6">
                        {{ form_row(form.twitter) }}
                    </div>
                    <div class="mb-3 col-md-6">
                        {{ form_row(form.instagram) }}
                    </div>
                    <div class="mb-3 col-md-6">
                        {{ form_row(form.linkedin) }}
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="language" class="form-label">Langue</label>
                      <select id="language" class="select2 form-select">
                        <option value="">Selectionner votre Langue</option>
                        <option value="en">English</option>
                        <option value="fr">Francais</option>
                        <option value="de">German</option>
                        <option value="pt">Portuguese</option>
                      </select>
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="currency" class="form-label">Monnaie</label>
                      <select id="currency" class="select2 form-select">
                        <option value="">Selectionez votre monnaie</option>
                        <option value="usd">Dollar</option>
                        <option value="euro">Euro</option>
                        <option value="xof">XOF</option>
                        <option value="bitcoin">Bitcoin</option>
                      </select>
                    </div>
                  </div>
                  <div class="mt-2">
                    <button type="submit" class="btn btn-primary me-2">Sauvegarder</button>
                    <button type="reset" class="btn btn-outline-secondary">Annuler</button>
                  </div>
              </div>
              <!-- /Account -->
            </div>
          {{ form_end(form) }}
            
            <div class="card">
              <h5 class="card-header">Delete Account</h5>
              <div class="card-body">
                <div class="mb-3 col-12 mb-0">
                  <div class="alert alert-warning">
                    <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete your account?</h6>
                    <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                  </div>
                </div>
                <form id="formAccountDeactivation" onsubmit="return false">
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="accountActivation" id="accountActivation" />
                    <label class="form-check-label" for="accountActivation">I confirm my account deactivation</label>
                  </div>
                  <button type="submit" class="btn btn-danger deactivate-account">Deactivate Account</button>
                </form>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="navs-pills-top-notifications" role="tabpanel">
            <div class="card">
              <!-- Notifications -->
              <h5 class="card-header">Recent Devices</h5>
              <div class="card-body">
                <span>
                  We need permission from your browser to show notifications.
                  <span class="notificationRequest"><strong>Request Permission</strong></span>
                </span>
                <div class="error"></div>
              </div>
              <div class="table-responsive">
                <table class="table table-striped table-borderless border-bottom">
                  <thead>
                    <tr>
                      <th class="text-nowrap">Type</th>
                      <th class="text-nowrap text-center">✉️ Email</th>
                      <th class="text-nowrap text-center">🖥 Browser</th>
                      <th class="text-nowrap text-center">👩🏻‍💻 App</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-nowrap">New for you</td>
                      <td>
                        <div class="form-check d-flex justify-content-center">
                          <input class="form-check-input" type="checkbox" id="defaultCheck1" checked />
                        </div>
                      </td>
                      <td>
                        <div class="form-check d-flex justify-content-center">
                          <input class="form-check-input" type="checkbox" id="defaultCheck2" checked />
                        </div>
                      </td>
                      <td>
                        <div class="form-check d-flex justify-content-center">
                          <input class="form-check-input" type="checkbox" id="defaultCheck3" checked />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-nowrap">Account activity</td>
                      <td>
                        <div class="form-check d-flex justify-content-center">
                          <input class="form-check-input" type="checkbox" id="defaultCheck4" checked />
                        </div>
                      </td>
                      <td>
                        <div class="form-check d-flex justify-content-center">
                          <input class="form-check-input" type="checkbox" id="defaultCheck5" checked />
                        </div>
                      </td>
                      <td>
                        <div class="form-check d-flex justify-content-center">
                          <input class="form-check-input" type="checkbox" id="defaultCheck6" checked />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-nowrap">A new browser used to sign in</td>
                      <td>
                        <div class="form-check d-flex justify-content-center">
                          <input class="form-check-input" type="checkbox" id="defaultCheck7" checked />
                        </div>
                      </td>
                      <td>
                        <div class="form-check d-flex justify-content-center">
                          <input class="form-check-input" type="checkbox" id="defaultCheck8" checked />
                        </div>
                      </td>
                      <td>
                        <div class="form-check d-flex justify-content-center">
                          <input class="form-check-input" type="checkbox" id="defaultCheck9" />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="text-nowrap">A new device is linked</td>
                      <td>
                        <div class="form-check d-flex justify-content-center">
                          <input class="form-check-input" type="checkbox" id="defaultCheck10" checked />
                        </div>
                      </td>
                      <td>
                        <div class="form-check d-flex justify-content-center">
                          <input class="form-check-input" type="checkbox" id="defaultCheck11" />
                        </div>
                      </td>
                      <td>
                        <div class="form-check d-flex justify-content-center">
                          <input class="form-check-input" type="checkbox" id="defaultCheck12" />
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-body">
                <h6>When should we send you notifications?</h6>
                <form action="javascript:void(0);">
                  <div class="row">
                    <div class="col-sm-6">
                      <select id="sendNotification" class="form-select" name="sendNotification">
                        <option selected>Only when I'm online</option>
                        <option>Anytime</option>
                      </select>
                    </div>
                    <div class="mt-4">
                      <button type="submit" class="btn btn-primary me-2">Save changes</button>
                      <button type="reset" class="btn btn-outline-secondary">Discard</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /Notifications -->
            </div>
          </div>
          <div class="tab-pane fade" id="navs-pills-top-connections" role="tabpanel">
            <div class="row">
                    <div class="col-md-6 col-12 mb-md-0 mb-4">
                      <div class="card">
                        <h5 class="card-header">Connected Accounts</h5>
                        <div class="card-body">
                          <p>Display content from your connected accounts on your site</p>
                          <!-- Connections -->
                          <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                              <img src="/sneat/assets/img/icons/brands/google.png" alt="google" class="me-3" height="30" />
                            </div>
                            <div class="flex-grow-1 row">
                              <div class="col-9 mb-sm-0 mb-2">
                                <h6 class="mb-0">Google</h6>
                                <small class="text-muted">Calendar and contacts</small>
                              </div>
                              <div class="col-3 text-end">
                                <div class="form-check form-switch">
                                  <input class="form-check-input float-end" type="checkbox" role="switch" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                              <img src="/sneat/assets/img/icons/brands/slack.png" alt="slack" class="me-3" height="30" />
                            </div>
                            <div class="flex-grow-1 row">
                              <div class="col-9 mb-sm-0 mb-2">
                                <h6 class="mb-0">Slack</h6>
                                <small class="text-muted">Communication</small>
                              </div>
                              <div class="col-3 text-end">
                                <div class="form-check form-switch">
                                  <input class="form-check-input float-end" type="checkbox" role="switch" checked />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                              <img src="/sneat/assets/img/icons/brands/github.png" alt="github" class="me-3" height="30" />
                            </div>
                            <div class="flex-grow-1 row">
                              <div class="col-9 mb-sm-0 mb-2">
                                <h6 class="mb-0">Github</h6>
                                <small class="text-muted">Manage your Git repositories</small>
                              </div>
                              <div class="col-3 text-end">
                                <div class="form-check form-switch">
                                  <input class="form-check-input float-end" type="checkbox" role="switch" />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                              <img
                                src="/sneat/assets/img/icons/brands/mailchimp.png"
                                alt="mailchimp"
                                class="me-3"
                                height="30"
                              />
                            </div>
                            <div class="flex-grow-1 row">
                              <div class="col-9 mb-sm-0 mb-2">
                                <h6 class="mb-0">Mailchimp</h6>
                                <small class="text-muted">Email marketing service</small>
                              </div>
                              <div class="col-3 text-end">
                                <div class="form-check form-switch">
                                  <input class="form-check-input float-end" type="checkbox" role="switch" checked />
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex">
                            <div class="flex-shrink-0">
                              <img src="/sneat/assets/img/icons/brands/asana.png" alt="asana" class="me-3" height="30" />
                            </div>
                            <div class="flex-grow-1 row">
                              <div class="col-9 mb-sm-0 mb-2">
                                <h6 class="mb-0">Asana</h6>
                                <small class="text-muted">Communication</small>
                              </div>
                              <div class="col-3 text-end">
                                <div class="form-check form-switch">
                                  <input class="form-check-input float-end" type="checkbox" role="switch" checked />
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- /Connections -->
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-12">
                      <div class="card">
                        <h5 class="card-header">Social Accounts</h5>
                        <div class="card-body">
                          <p>Display content from social accounts on your site</p>
                          <!-- Social Accounts -->
                          <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                              <img
                                src="/sneat/assets/img/icons/brands/facebook.png"
                                alt="facebook"
                                class="me-3"
                                height="30"
                              />
                            </div>
                            <div class="flex-grow-1 row">
                              <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                                <h6 class="mb-0">Facebook</h6>
                                <small class="text-muted">Not Connected</small>
                              </div>
                              <div class="col-4 col-sm-5 text-end">
                                <button type="button" class="btn btn-icon btn-outline-secondary">
                                  <i class="bx bx-link-alt"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                              <img
                                src="/sneat/assets/img/icons/brands/twitter.png"
                                alt="twitter"
                                class="me-3"
                                height="30"
                              />
                            </div>
                            <div class="flex-grow-1 row">
                              <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                                <h6 class="mb-0">Twitter</h6>
                                <a href="https://twitter.com/Theme_Selection" target="_blank">@ThemeSelection</a>
                              </div>
                              <div class="col-4 col-sm-5 text-end">
                                <button type="button" class="btn btn-icon btn-outline-danger">
                                  <i class="bx bx-trash-alt"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                              <img
                                src="/sneat/assets/img/icons/brands/instagram.png"
                                alt="instagram"
                                class="me-3"
                                height="30"
                              />
                            </div>
                            <div class="flex-grow-1 row">
                              <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                                <h6 class="mb-0">instagram</h6>
                                <a href="https://www.instagram.com/themeselection/" target="_blank">@ThemeSelection</a>
                              </div>
                              <div class="col-4 col-sm-5 text-end">
                                <button type="button" class="btn btn-icon btn-outline-danger">
                                  <i class="bx bx-trash-alt"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex mb-3">
                            <div class="flex-shrink-0">
                              <img
                                src="/sneat/assets/img/icons/brands/dribbble.png"
                                alt="dribbble"
                                class="me-3"
                                height="30"
                              />
                            </div>
                            <div class="flex-grow-1 row">
                              <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                                <h6 class="mb-0">Dribbble</h6>
                                <small class="text-muted">Not Connected</small>
                              </div>
                              <div class="col-4 col-sm-5 text-end">
                                <button type="button" class="btn btn-icon btn-outline-secondary">
                                  <i class="bx bx-link-alt"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="d-flex">
                            <div class="flex-shrink-0">
                              <img
                                src="/sneat/assets/img/icons/brands/behance.png"
                                alt="behance"
                                class="me-3"
                                height="30"
                              />
                            </div>
                            <div class="flex-grow-1 row">
                              <div class="col-8 col-sm-7 mb-sm-0 mb-2">
                                <h6 class="mb-0">Behance</h6>
                                <small class="text-muted">Not Connected</small>
                              </div>
                              <div class="col-4 col-sm-5 text-end">
                                <button type="button" class="btn btn-icon btn-outline-secondary">
                                  <i class="bx bx-link-alt"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <!-- /Social Accounts -->
                        </div>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <link rel="stylesheet" href="/sneat/assets/vendor/libs/select2/select2.css " />
  <script src="/sneat/assets/vendor/libs/select2/select2.js"></script>

  <script>
    $(".select2").select2();
  </script>

  <script src="/pages-account-settings-account.js"></script>

  <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
{% endblock %}
