{% extends 'base.html.twig' %}

{% block title %}
	Evenements
{% endblock %}

{% block body %}
	<div class="container py-4 mt-4">
		<div class="row">
			{% for event in events %}

				<div class="col-md-12">
					<div class="card mb-4">
						<div class="row g-0">
							<div class="col-md-4">
								<img class="card-img" src="{{asset("evenements/img/" ~ event.image)}}" alt="{{event.image}}"/>
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<h5 class="card-title text-primary">{{event.name}}</h5>
									<p class="card-text">
										{{event.description}}
									</p>
									<p class="card-text">
										<small class="text-muted">Last updated 3 mins ago</small>
									</p>

									<a href="{{path("app_event_details", {slug: event.slug})}}" class="btn btn-success float-end mb-2">Inscrption / En Savoir plus...</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			{% endfor %}
		</div>

	</div>
{% endblock %}
